workflow.json
{
  "name": "Steam Worth It Only",
  "nodes": [
    {
      "id": "cron",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "parameters": {
        "rule": {
          "timezone": "UTC",
          "interval": [
            15,
            "minutes"
          ]
        }
      }
    },
    {
      "id": "http-price",
      "name": "Get Price API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{$parameter.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": []
        },
        "options": {}
      }
    },
    {
      "id": "function-filter",
      "name": "Filter Games",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst filtered = [];\nfor (const item of items) {\n  const json = item.json;\n  const discount = json.discount_percent || 0;\n  const price = json.final_price || 0;\n  const rating = json.rating || 0;\n  const reviews = json.reviews_total || 0;\n  if (discount >= 50 && price <= 20 && rating >= 70 && reviews >= 1000) {\n    filtered.push(item);\n  }\n}\nreturn filtered;"
      }
    },
    {
      "id": "http-history",
      "name": "Check Historical Low",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        700,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{$parameter.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": []
        },
        "options": {}
      }
    },
    {
      "id": "data-store",
      "name": "Deduplicate by Game ID",
      "type": "n8n-nodes-base.dataStore",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "operation": "checkDuplicates",
        "key": "={{$json.game_id}}",
        "value": "={{JSON.stringify({price: $json.price, discount: $json.discount})}}"
      }
    },
    {
      "id": "set",
      "name": "Format Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "title",
              "value": "={{$json.title}}",
              "type": "string"
            },
            {
              "id": "price_info",
              "name": "price_info",
              "value": "=${{$json.original_price}} → ${{$json.final_price}} (−{{$json.discount_percent}}%) / Until {{$json.discount_end_time}}",
              "type": "string"
            },
            {
              "id": "why_worth_it",
              "name": "why_worth_it",
              "value": "=Rating: {{$json.rating}}%, Historical Low: ${{$json.historical_low_price}} ({{$json.historical_low_discount}}% off)",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Get Price API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Price API": {
      "main": [
        [
          {
            "node": "Filter Games",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Games": {
      "main": [
        [
          {
            "node": "Check Historical Low",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Historical Low": {
      "main": [
        [
          {
            "node": "Deduplicate by Game ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate by Game ID": {
      "main": [
        [
          {
            "node": "Format Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
